.blocktov{
    background-color: #878784;
    height: 500px;
    width: 252%;
    padding-right: 5%;
    margin-left: 25px;
    font-family: HelveticaThin;
    color: white;
}
.blocktov:hover{
    background-color: white;
    height: 500px;
    width: 252%;
    padding-right: 5%;
    margin-left: 25px;
    font-family: HelveticaThin;
    color: black;
}
.img{    background-color: lightgrey;
      width: 265px;
    margin-top: -1px;
    margin-left: 75px;
}
@font-face {
  font-family: HelveticaThin;
  src:url(fonts/HelveticaThin.ttf);
}
.info{
      margin-left: 77px;
      background-color: lightgrey;
      height: 300px;
      width: 260px;
    }
.MenuText{
  color:white;
}
